.card-container {
    border: solid 1px #59575754 !important;
    background-color: rgba(167, 152, 152, 0.186) !important;
    border-radius: 10px !important;
    transition: transform .5s;
    margin: 15px !important;
    height: 240px;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.422);
        content: '';
        opacity: 0;
        z-index: -1;
        background-color: rgba(129, 128, 128, 0.474) !important;
        border-radius: 10px !important;
    }

    &:hover,
    &:focus {
        transform: scale3d(1.006, 1.006, 1);

        &::after {
            opacity: 1;
        }
    }

    .card-img {
        border-radius: 9px 0 0 9px;
        height: 238px;
    }

    .card-detail-left {
        padding: 15px;
    }

    .card-detail-right {
        padding: 70px 20px 0 0;
        text-align: right;

        .price {
            color: #005f6e;
            padding-bottom: 60px;
            margin-top: -30px;
        }

        .css-sghohy-MuiButtonBase-root-MuiButton-root {
            background-color: #005f6e !important;
        }
    }

    .card-location {
        margin: 10px;

        .icon-tren {
            display: flex;

            .card-location-icon {
                opacity: 0.5 !important;
                display: flex !important;
            }
        }

        .icon-giua {
            border-left: dotted 2px black;
            margin: 0 0 0 11.5px;
            opacity: 0.5 !important;
        }

        .icon-duoi {
            display: flex;

            .card-location-icon {
                opacity: 0.5 !important;
                display: flex !important;
            }
        }






    }
}

.boloc {
    padding: 10px 0 0 15px;
    border: solid 1px #59575754;
}


.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-height: 100% !important;
    max-width: 100% !important;
    width: 700px !important;
    height: 600px !important;
}