.home-header-img {
    background: url(../../assets/header-background.jpg);
    height: 485px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 35px;

    .home-header-search-bar {
        padding-top: 150px;
    }

}